<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <!--<contextName>logback</contextName>-->
    <!-- 日志级别 -->
    <property name="logLevel" value="INFO"></property>
    <!-- 日志地址 -->
    <property name="logPath" value="log"></property>
    <!-- 最大保存时间 -->
    <property name="maxHistory" value="12"/>
    <!-- 异步缓冲队列的深度,该值会影响性能.默认值为256 -->
    <property name="queueSize" value="512"></property>
    <!-- 环境 -->
    <property name="profile" value="test"></property>



    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger{100}] [%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${profile}/esLog.log</file>
        <append>true</append>
        <!-- 过滤器 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${logLevel}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${profile}/esLog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保持12天的日志文件-->
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>

        <!-- 文件大于5MB生成新的日志文件 -->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger{100}] [%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 业务A文件输出-->
    <appender name="ywaFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${profile}/ywa_esLog.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${logLevel}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${profile}/ywa_esLog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger{100}] [%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 业务B文件输出-->
    <appender name="ywbFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${profile}/ywb_esLog.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${logLevel}</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${profile}/ywb_esLog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger{100}] [%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- logback为java中的包 -->
    <logger name="cn.neil" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <logger name="org.springframework" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <!-- 比如说同一个类 不同业务输出不同的目录-->
    <logger name="ywA" level="INFO" additivity="false">
        <appender-ref ref="ywaFile" />
    </logger>
    <logger name="ywB" level="INFO" additivity="false">
        <appender-ref ref="ywbFile"/>
    </logger>



    <!-- 异步 Appender-->
    <appender name="asynFile" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>${queueSize}</queueSize>
        <appender-ref ref="file"/>
    </appender>


    <root level="INFO">
        <!--<appender-ref ref="console" />-->
        <appender-ref ref="asynFile" />
    </root>
</configuration>